.features-container {
    background: #ffffff;
    background-repeat: no-repeat;
    position: relative;
    color: black;
    font-family: catamaran;
    padding: 0;
    margin: 0;
}

.angled-section {
    position: absolute;
    display: block;
}

.angled-section.svg-top {
    top: -85px;
}

.rowContainer{
    padding: 0 87px;
    background: #ffffff;
}

.row1 {
    height: 222px;
    padding-top: 86px;
    padding-bottom: 50px;
}

.row1 .column {
/*    padding: 0 40px 0 0;*/
    display: table-cell;
    vertical-align: top;
}

.row1 .column > h3 {
    margin-top: 0;
    color: #1e1e1e;
    font-size: 30px;
    line-height: 39px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.row1 .column > p {
    color: #777777;
    font-size: 17px;
    line-height: 28px;
    font-style: normal;
    font-weight: 200;
}

.row1 .column > img {
    width: 191.66px;
    height: 191.66px;
}

.row1 #iconsWrap .column{
    padding-left: 54px;
}

.row2Content {
    height: 316.2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 150px;
}

.row2Content .columnContent > a {
    font-family: linea-basic-10;
    font-size: 50px;
    font-style: normal;
}

.row2Content .circle-wrapperContent {
    display: inline-block;
    width: 109.71px;
    height: 84.71px;
    border-radius: 50%;
    padding-top: 25px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.row2Content .columnContent > h5 {
    color: #1e1e1e;
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
}

.row2Content .columnContent > p {
    color: #777777;
    font-size: 17px;
    line-height: 28px;
    font-style: normal;
    font-weight: 200;
}

#cloud{
    background: #aac2ca;
}

#cloud:hover{
    background: #78a0ad;
}

#marker{
    background: #deb5b4;
}

#marker:hover{
    background: #c28684;
}

#bulb{
    background: #a08c97;
}

#bulb:hover{
    background: #856777;
}

#bolt{
    background: #5f8085;
}

#bolt:hover{
    background: #345c62;
}