@font-face{
    font-family: catamaran;
    src: url(fonts/catamaran/catamaran_default.woff2);
}

@font-face{
    font-family: catamaran;
    src: url(fonts/catamaran/catamaran_200.woff2);
    font-weight: 200;
}

@font-face{
    font-family: catamaran;
    src: url(fonts/catamaran/catamaran_400.woff2);
    font-weight: 400;
}

@font-face{
    font-family: catamaran;
    src: url(fonts/catamaran/catamaran_800.woff2);
    font-weight: 800;
}

@font-face{
    font-family: linea-basic-10;
    src: url(fonts/linea-basic-10.woff);
    font-weight: normal;
    font-style: normal;
}